# Игнорировать все файлы в проекте, которые заканчиваются на .pro.user
NURBS_2D/*.pro.user

# Игнорировать все файлы в проекте, которые заканчиваются на .bat
NURBS_2D/*.bat

# Игнорировать все директории, которые начинаются на build (сборки проекта)
build*/